@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  padding-top: 3.375rem;
  color: #6c757d;
  font-family: "Saira Extra Condensed", sans-serif;
}

@media (min-width: 990px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

.text-primary {
  color: #1999cc !important;
}

a {
  color: #1999cc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  line-height: 1;
}

h1,
.h1 {
  font-size: 6rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
}

#side-bar .navbar-nav .navbar-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
#side-bar .navbar-toggler:focus {
  outline-color: #1999cc;
}

@media (min-width: 990px) {
  #side-bar {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
    background-color: #1999cc;
  }

  #side-bar .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }

  #side-bar .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }

  #side-bar .navbar-collapse {
    margin-bottom: auto;
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-grow: 0;
  }

  #side-bar .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  #side-bar .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }

  #side-bar .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.cv-section {
  padding: 1rem 5rem;
  max-width: 75rem;
  display: flex;
  align-items: center;
}

section.cv-section .section-content {
  width: 100%;
}

@media (min-width: 768px) {
  section.cv-section {
    min-height: 100vh;
  }
}
@media (min-width: 990px) {
  section.cv-section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: #1999ce;
}
